<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-navbar>
    <ion-title>
      Map
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="loadMap()"><ion-icon name="map"></ion-icon>&nbsp;Load MAP</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map">
  </div>
  <div id="panel" style="width: 300px; float: right;"></div>
  <ion-grid>
    <ion-row>
      <ion-col center>
        <div *ngIf="markerSelected">
          <img [src]="iconTrans.url" alt="">
        </div>
      </ion-col>
      <ion-col>
        <ion-fab top center edge>
          <button ion-fab (click)="createService()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
        <div *ngIf="markerSelected">
          <p>{{markerDestino.data.name}}</p>
          <p>{{markerDestino.data.carDetail.marca}}&nbsp;-&nbsp;{{markerDestino.data.carDetail.reference}}</p>
          <p>{{markerDestino.data.carDetail.placa}}</p>
          <p>{{markerDestino.data.carDetail.model}}</p>
        </div>
      </ion-col>
      <ion-col>
        <button ion-button (click)="getDirections()"><ion-icon name="car"></ion-icon>&nbsp;Direcciones</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
